body {
    background-color: #f1f1f1;
}

.navbar {
    background-color: #00a86b;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.nav-link {
    color: #fff;
}

.container {
    margin-top: 50px;
}

.card {
    border-color: #00a86b;
}

.card-header {
    background-color: #00a86b;
    color: #fff;
    font-weight: bold;
}

.btn-primary {
    background-color: #00a86b;
    border-color: #00a86b;
}

.btn-primary:hover {
    background-color: #009e67;
    border-color: #009e67;
}
