{% comment %} body {
    background-color: #00A86B;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    margin: auto;
    max-width: 800px;
    padding: 1em;
}

nav {
    background-color: #006400;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
} {% endcomment %}
