{% extends 'base.html' %}

{% block title %}
    Timeline
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Timeline</h1>
    <div class="row">
        {% for post in posts %}
            <div class="col-12">
                <div class="post">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
